.cart{
    border: 1px solid #7ad0a7;
    margin: 5px;
    padding: 5px;
    
}
.cart1{
    background-color: #7ad0a7;
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
}
.hr{
    height: 2px;
    width: 100px;
    background-color: rgb(197, 192, 192);
}

.button{
    background-color: #7ad0a7;
    border: none;
    margin: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 40px;

}
.button1{
    background-color: #fefffe;
    border: 1px solid rgb(187, 179, 179);
    margin: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 40px;
}
.button2{
    background-color: #fefffe;
    border: none;
    margin: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 40px;
}
.inputss{
    border-radius: 30px;
    border: 1px solid rgb(171, 164, 164);
    /* margin-right: 10px; */
    /* margin-left: 10px; */
}
.logo{
    width: 100px;
    height: 50px;
    border: 1px solid rgb(160, 151, 151);
    padding: 8px;
    border-radius: 30px;
}
.delivery{
    width: 100px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2px;
    padding-right: 3px;
    
}
.deliver{
    border: 1px solid rgb(160, 151, 151);
    border-radius: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 0;
}
.cartlogo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid firebrick;
    
}
.textCode{
    color: rgb(142, 135, 135);
}
.total{
    background-color: rgb(212, 209, 209);
    text-align: center;
    padding: 10px;
    /* margin: 5px; */
    border-radius: 40px;
}
.new{
    text-align: center;
}